<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro Binahki</title>

    <link rel="stylesheet" type="text/css" href="./style.css">

</head>

<h1 id="h11">RECEBA NOSSO MATERIAL GRATUITAMENTE!</h1>
<div id="div01">


    <div>
        <img id="img01" width="300px" height="300px" src="./livrotirarfundo-removebg-preview.png" alt="Minha Figura" />
    </div>


    <form action="/add-pagamento" method="POST">


        <div id="div02">
            <h2 font-weight=bold><b>Superando a Pandemia com a indústria 4.0 </b></h2>
            <p>Preencha os campos abaixo para receber</p>
        </div>


        <label>Nome</label>
        <input type="text" name="nome"><br><br>
<!--
        <label>Valor</label>
        <input type="text" name="valor"><br><br> -->

        <label>Email*</label>
        <input type="text" name="email"><br><br>

        <label>Telefone*</label>
        <input type="text" name="telefone"><br><br>

        <label for="w3review">Conte-nos qual é a questão mais crítica de seu negócio(caso a opção anterior tenha sido
            "Outra") ou mais detalhes:</label><br>
        <textarea id="w3review" name="w3review" rows="4" cols="50">
</textarea>

        <button id ="btnenviar" type="submit">ENVIAR</button>

        <!--Informe ao usuário que foi concluído com sucesso o registro.-->
    </form>
</div>

